.movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 7%;
  margin-top: 1.5rem;
  flex-wrap: nowrap;
  gap: 1rem;
}

.movies-section {
  /* margin: 20px 0; */
  width: 100%;
  /* height:100%; */
}

.movies-section-heading {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
  margin-bottom: 10px;
}

.explore-nudge {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  color: transparent;
  transition: all ease-in-out 0.3s;
}

.movies-section-heading:hover .explore-nudge {
  color: #54b9c5;
}

.movies-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.movie-item {
  width: 16rem;
  margin-right: 0.9rem;
  transition: all ease-in-out 0.1s;
  border-radius: .3rem;
  position: relative;
}

.movie-item:hover {
  transform: scale(1.08);
  z-index: 10;
}

.movie-item>img {
  object-fit: contain;
  border-radius: .3rem;
  width: inherit;
  height: inherit;
}

.movie-item iframe {
  display: none;
  /* display: block; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.movie-item:hover iframe {
  display: block;
}